.navbar {
  width: 100%;
  height: 50px;
  position: relative;
  /* background-color: black; */
}
.navbar img {
  height: 30px;
}

#searchItem {
  height: 10px;
}

.left_nav {
  float: left;
}

.center_nav {
  position: relative;
  left: 35%;
}
.navbar .right_nav {
  position: absolute;
  right: 1%;
  top: 2%;
}
.right_nav img {
  margin-left: 15px;
}
.video {
  position: relative;
  left: 8%;
}
.video_sidebar {
  position: absolute;
  right: 3%;
  width: 450px;
  top: 70px;
}
.video_sidebar img {
  width: 200px;
  margin-right: 7px;
}
.video_sidebar h1 {
  font-size: medium;
  line-height: 1.6rem;
  font-weight: bold;
  top: 0%;
  margin-bottom: -5px;
}

.video_sidebar article {
  display: flex;
  margin-bottom: 10px;
}
.video_sidebar p {
  font-size: x-small;
  margin-bottom: -5px;
}
.video_sidebar section {
  position: relative;
  top: 0%;
  margin-top: -10px;
}

.video_description {
  width: 60%;
}
