.navbar {
  width: 100%;
  height: 50px;
  position: relative;
}
.navbar img {
  height: 30px;
}

#searchItem {
  height: 10px;
}

.left_nav {
  float: left;
}

.center_nav {
  position: relative;
  left: 35%;
}
.navbar .right_nav {
  position: absolute;
  right: 1%;
  top: 2%;
}
.right_nav img {
  margin-left: 15px;
}
.video {
  position: relative;
  left: 8%;
}
.video_sidebar {
  position: absolute;
  right: 3%;
  width: 450px;
  top: 70px;
}
.video_sidebar img {
  width: 200px;
  margin-right: 7px;
}
.video_sidebar h1 {
  font-size: medium;
  line-height: 1.6rem;
  font-weight: bold;
  top: 0%;
  margin-bottom: -5px;
}

.video_sidebar article {
  display: flex;
  margin-bottom: 10px;
}
.video_sidebar p {
  font-size: x-small;
  margin-bottom: -5px;
}
.video_sidebar section {
  position: relative;
  top: 0%;
  margin-top: -10px;
}

.video_details {
  margin-left: 143px;
  width: 1100px;
}
.video_details img {
  width: 30px;
  height: 15px;
}

.video_details section {
  height: 70px;

  /* background-color: rgb(110, 75, 75); */
}
.video_details section h1 {
  margin-bottom: 0px;
}
.right_details {
  display: flex;
}
.wrapper {
  height: 70px;
  max-width: 1500px;
  /* background-color: darkgreen; */
}
.right_details .box {
}
.one {
  flex: 5;
}
.two {
  padding-top: 20px;
  margin-left: 10px;
}
.three {
  padding-top: 20px;
  margin-left: 10px;
}
.four {
  padding-top: 20px;
  margin-left: 10px;
}
.five {
  padding-top: 20px;
}
.six {
}
.seven {
  padding-top: 20px;
}
.eight {
  flex: 0;
}
.nine {
  padding-top: 20px;
}
.box {
  margin-left: 10px;
}
